/* ALGEMEEN */

.hoofdkleur1_achtergrond {
  background: #2F4858;
}

.hoofdkleur2_achtergrond {
  background: #F26419;
}

.hoofdkleur3_achtergrond {
  background: #34ccff;
}

.hoofdkleur1_tekst {
  color: #34ccff;
}

.hoofdkleur2_tekst {
  color: #2F4858;
}

.hoofdkleur3_tekst {
  color: #F26419;
}

.normaal_font {
  font-size: 1rem;
}

.groot_font {
  font-size: 2rem;
}

.text-normal {
  color: #000 !important;
}

.icoon_parent {
  border-radius: 50%;
  position: relative;
}

.icoon_class {
  max-width: 75%;
  max-height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.spiegel_x {
  transform: scaleY(-1);
}

.spiegel_y {
  transform: scaleX(-1);
}

.spiegel_xy {
  transform: scale(-1, -1);
}

.no_text_decoration:hover {
  text-decoration: none;
}

.no_overflow {
  overflow: hidden;
}

.no_list_style {
  list-style-type: none;
}

button {
  outline: none !important;
}

.positie_info {
  margin-top: 41px;
}

a:after {
  border: none;
}

#scrollUp {
  bottom: 0;
  right: 20px;
  color: #fff;
  background-color: #34ccff;
  padding: 0 10px;
}

header {

  /* HEADER INDEX */

  #topbalk {

    .minimum_header {
      min-height: 30px;
    }

    .icoon_header {
      width: 3vw;
      min-width: 25px;
      height: 3vw;
      min-height: 25px;
      background: #2F4858;
      transition-property: background-color;
      transition-duration: 0.5s;
    }

    .icoon_header:hover {
      background-color: #34ccff;
    }

    .border_topbalk {
      border-left: 1px solid #34ccff;
    }

    .no_text_decoration:hover p {
      font-weight: bold;
    }

    a {
      width: 132px;
    }
  }

  #infobalk {
    .infobalk_hoogte {
      height: 16vw;
      max-height: 100px;
    }

    .navbar-toggler {
      height: 100%;
      width: 20vw;
      max-width: 120px;
    }

    h1 {
      font-size: 1.5rem;
    }

    .grootte_icoon {
      font-size: 2rem;
    }

    .border_infobalk {
      border-bottom: groove;
    }

    .tel_nummer {
      font-size: 1rem;
    }

    .hoofdkleur2_achtergrond:hover {
      background-color: #FF8F19;
    }
  }

  .navigatie_header {

    .dropdown-item {
      background-color: #FF8F19;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
    }

    .nav-link {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
    .nav-link:hover {
      background-color: #FF8F19 !important;
    }
    .dropdown-item:hover {
      background-color: #F26419;
    }
  }
}

main {
  #achtergrond_index {
    .carousel {
      z-index: 5;
    }
    .carousel-control-prev, .carousel-control-next {
      width: 11%;
      z-index: 4;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
      color: #000;
    }
    .carousel-caption {
      top: 25%;
      left: 50%;
      width: 50%;
    }
  }
  #kijker {
    .tekst_kijker_minder {
      height: 300px;
      overflow: hidden;
    }
  }
  #kalender {
    .slider_kalender {
      -webkit-appearance: none;
      width: 100%;
      height: 25px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    .slider_kalender::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 25px;
      height: 25px;
      background: #F26419;
      cursor: pointer;
    }

    .slider_kalender::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #F26419;
      cursor: pointer;
    }

  }
  #categorie_webshop {
    article {
      max-height: 30vw;
    }
    article:hover {
      opacity: 0.3;
    }
  }
  #producten {
    .volle_ster {
      color: #F26419;
    }
    .artikel_kleur {
      height: 15px;
      width: 15px;
    }
    button:hover {
      cursor: pointer;
    }

  }
  .naar_winkelmand {
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
  }
  #webshop_hoofding {
    .dropdown-menu {
      left: auto;
      right: 25px;
    }
  }
  #slidemenu {
    top: 13%;
    z-index: 1000;
    left: 0;
    li:hover{
      cursor: pointer;
      li:hover {
        background-color: #FF8F19 !important;
      }
    }

    i:hover {
      cursor: pointer;
    }
  }
}

footer {
  .logo {
    width: 15%;
  }
  h1 {
    font-size: 1.25rem;
  }

  .footer_link:hover li {
    cursor: pointer;
  }
  .footer_vak_foto {
    height: 5vw;
    min-height: 50px;
    width: 5vw;
    min-width: 50px;
    position: relative;

  }
  .footer_vak_extra {
    height: 4vw;
    min-height: 25px;
    width: 4vw;
    min-width: 25px;
    position: relative;
  }
  .footer_foto_hor {
    width: auto;
    height:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

@include media-breakpoint-up(sm) {

  header {
    h1 {
      font-size: 2.5rem !important;
    }
  }
  .positie_info {
    margin-top: 56px;
  }
}

@include media-breakpoint-up(md) {

  .positie_info {
    margin-top: 0;
  }

  header {
    #achtergrond_header {
      top: -50%;
    }
    .nav-link {
      border: none !important;
    }
    .kenburns-top-right {
      -webkit-animation: kenburns-top-right 5s ease-out both;
      animation: kenburns-top-right 5s ease-out both;
    }

    @-webkit-keyframes kenburns-top-right {
      0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 16%;
        transform-origin: 84% 16%;
      }
      100% {
        -webkit-transform: scale(1.25) translate(20px, -15px);
        transform: scale(1.25) translate(20px, -15px);
        -webkit-transform-origin: right top;
        transform-origin: right top;
      }
    }

    @keyframes kenburns-top-right {
      0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 16%;
        transform-origin: 84% 16%;
      }
      100% {
        -webkit-transform: scale(1.25) translate(20px, -15px);
        transform: scale(1.25) translate(20px, -15px);
        -webkit-transform-origin: right top;
        transform-origin: right top;
      }
    }
  }
  main {
    #categorie_webshop {
      article {
        max-height: 10vw;
      }
    }

  }

}

@include media-breakpoint-up(lg) {
  header {
    #achtergrond_header {
      top: -130%;
    }
  }
}

@include media-breakpoint-up(xl) {

}


